<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">

<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<link rel="import" href="../polymer/lib/utils/gestures.html">

<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .task{
        display: flex;
        align-items: center;
      }
      paper-input{
        display: inline-block;
      }
    </style>

    <dom-repeat 
      items="{{prop2}}"  
      as="task"
      filter="isNotComplite"
      observe="complete"
      
    
    
    >
        <template >
          <div>
            <paper-checkbox checked="{{task.complete}}">  </paper-checkbox>
            <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
          </div>

        </template>
    </dom-repeat>


    
   
   
   <h1>Completed</h1>


   <dom-repeat 
   items="{{prop2}}"  
   as="task"
   filter="isComplite"
   observe="complete"
    >
     <template >
       <div>
         <paper-checkbox checked="{{task.complete}}">  </paper-checkbox>
         <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
       </div>
     </template>
 </dom-repeat>

    <br>
    <paper-button on-click="agregarTask">Enviar</paper-button>



  </template>

  <script>
    /**
     * `check-list`
     * lista
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          prop2: {
            type: Array,
            value: () => []
          }
        };
      }
      agregarTask(){
        const newTask = {
          name:'',
          complete: false
        };
        this.push('prop2', newTask);
      }

      isNotComplite(task){
        return !task.complete;
      }

      isComplite(task){
        return task.complete;
      }
    }

    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
